/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3rem;
}

.card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 5px rgba(0, 0, 0, 0.23);
    transition: all 0.1s linear;
}

.homePage .card:hover {
    scale: 1.02;
    transition: all 0.1s linear;
}

.homePage .card {
    margin-bottom: 3rem;
}

.order_card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    margin-top: 2rem;
}

.card img {
    height: 200px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    height: 80px;
}
.card-text span {
    font-weight: bold;
}

.detailBtn {
    font-size: 1rem;
    width: 100%;
}

.books_not_found {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
}

.books_not_found span {
    color: rgb(50, 50, 50);
}

.order_card-body {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.nav-link {
    color: rgb(194, 194, 194) !important;
    transition: all 0.2s ease-in-out;
}
.nav-link:hover {
    color: rgb(255, 255, 255) !important;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

.bg-body-tertiary {
    background-color: #1b213a !important;
}

/*! Responsive  */
@media screen and (max-width: 500px) {
    .card-container {
        justify-content: center;
    }

    .card-container .books_not_found {
        font-size: 1rem !important;
    }

    .order_card {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .homePage .card:hover {
        scale: 1;
        transition: all 0.1s linear;
    }

    .card img {
        height: 200px;
    }
    .card-title {
        font-size: 1rem;
    }

    .card-text {
        height: 70px;
        font-size: 0.9rem;
    }

    .detailBtn {
        font-size: 0.7rem;
        width: 100%;
    }

    .order_card-body {
        width: 100%;
    }

    .detailPoster {
        width: 100% !important;
        height: 250px !important;
    }

    .detailPoster-container {
        width: 100%;
    }

    .detail-container {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .detail-container h2 {
        font-size: 0.8rem;
    }

    .detail-container p {
        font-size: 0.7rem;
        margin-left: 1rem;
        /* margin-bottom: 0.4rem; */
    }

    .detailSection > button {
        width: 200px;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .detailSection > button {
        margin-left: 1rem;
    }

    .orderCardPoster {
        width: 100% !important;
    }

    .ownerImg {
        width: 30px !important;
        height: 30px !important;
    }

    .order_card {
        padding: 1rem;
    }

    .orderCardPoster p {
        font-size: 0.8rem;
    }

    .admin-pannel {
        display: none;
    }
}
